<div class="sidebar" data-color="purple" data-background-color="white" data-image="/static/assets/img/sidebar-1.jpg">
<div class="logo">
    <a href="/index" class="simple-text logo-normal">
    BeeLive
    </a>
</div>
<div class="sidebar-wrapper">
    <ul class="nav">
    <li class="nav-item active  ">
        <a class="nav-link" href="/">
        <i class="material-icons">dashboard</i>
        <p>Dashboard</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/page-user">
        <i class="material-icons">add</i>
        <p>Add Beehive</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/ui-tables">
        <i class="material-icons">list</i>
        <p>List Beehives</p>
        </a>
    </li>
    <li class="nav-item ">
        <a class="nav-link" href="/ui-maps">
        <i class="material-icons">location_ons</i>
        <p>Beehive Location</p>
        </a>
    </li>
    <li class="nav-item ">
    </li>

    <li class="nav-item active-pro ">
        <a class="nav-link" href="https://github.com/fabriciopk/BeeLive">
        <i class="material-icons">code</i>
        <p>Github</p>
        </a>
    </li>
    </ul>
</div>
</div>